@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.membership-card-0,
.membership-card-1,
.membership-card-2,
.membership-card-3 {
    opacity: 0;
    animation: fadeInUp 1.5s ease-out forwards;
}

.membership-card-0 {
    animation-delay: 0s;
}

.membership-card-1 {
    animation-delay: 0.3s;
}

.membership-card-2 {
    animation-delay: 0.6s;
}

.membership-card-3 {
    animation-delay: 0.9s;
}

@keyframes colorChangeNP {
    0% {
        background-color: cornsilk;
    }

    50% {
        background-color: gainsboro;
    }

    100% {
        background-color: white;
    }
}

@keyframes colorChangeBronze {
    0% {
        background-color: #E6B37B;
    }

    50% {
        background-color: #df9165;
    }

    100% {
        background-color: #d3873c;
    }
}

@keyframes colorChangeSilver {
    0% {
        background-color: lightgrey;
    }

    50% {
        background-color: rgb(233, 233, 233);
    }

    100% {
        background-color: rgb(202, 202, 202);
    }
}

@keyframes colorChangeGold {
    0% {
        background-color: lightyellow;
    }

    50% {
        background-color: yellow;
    }

    100% {
        background-color: gold;
    }
}

.modalNP {
    animation: colorChangeNP 3s infinite alternate;
}

.modalBronze {
    animation: colorChangeBronze 3s infinite alternate;
}

.modalSilver {
    animation: colorChangeSilver 3s infinite alternate;
}

.modalGold {
    animation: colorChangeGold 3s infinite alternate;
}