#ham {
    border: 0;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 2px solid var(--dark-background);
    box-shadow: var(--box-shadow);
    margin: 1rem;
    padding: .6rem 1rem;
}

#ham::before {
    content: "☰";
    display: inline-block;
}

#ham.open::before {
    content: "✖";
}

/* Position the navbar absolute so it sits below header */
nav.navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    background-color: var(--light-background);
    color: black;
    padding: 0.5rem;
    z-index: 1000;
    /* brings item to the front */
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    /* Animate opacity and transform */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* When the hamburger is open, display the navbar */
#ham.open+nav.navbar {
    display: flex;
    border: 2px solid var(--dark-background);
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

nav.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav.navbar ul li {
    margin-bottom: 1rem;
}

nav.navbar ul li a {
    color: black;
    font-family: "Prompt", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    padding: .5rem 1rem;
}

nav.navbar a:hover {
    font-size: 1.2rem;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.active-link {
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

@media (min-width: 600px) {
    nav.navbar {
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: end;
        background-color: transparent;
        opacity: 1;
        margin-top: 3rem;
    }

    nav ul {
        display: flex;
    }

    #ham {
        display: none;
    }

}