@media (min-width: 600px) {
    .hero-text {
        padding: 2rem;
        width: 400px;
        height: 200px;
        line-height: 1.4rem;
    }

    .hero-text h1 {
        font-size: 1.4rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    #calltoaction {
        padding: .8rem 1.2rem;
    }

    #calltoaction a:hover {
        font-size: 1.2rem;
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }
}

@media (min-width: 1000px) {
    .hero-text {
        width: 800px;
        height: 260px;
        line-height: 2rem;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    #calltoaction {
        padding: 1rem 1.5rem;
    }

    .spotlight p,
    .current-events p,
    .weather p,
    .hero-text p,
    #calltoaction a {
        font-size: 1.2rem;
        font-family: "Roboto", sans-serif;
    }
}