:root body {
    --primary-color: #0096FF;
    --secondary-color: #89CFF0;
    --header-fonts: "Quicksand", sans-serif;
    --text-fonts: "Outfit", sans-serif;
    --box-shadow: rgba(25, 25, 112, 0.5) 4px 3px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    border-bottom: 2px solid darkblue;
}

.heading {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.heading {
    display: flex;
    align-items: center;
}

.heading span {
    color: darkblue;
    font-family: var(--header-fonts);
    padding: 0 1rem;
    font-size: 1.5rem;

}

.heading img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
}

header button {
    font-size: 1.5rem;
    background-color: white;
    color: darkblue;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}

#ham::before {
    content: "☰";
}

#ham.open::before {
    content: "✖";
}

.nav {
    display: none;
}

.open,
.open nav {
    display: block;

}

.open nav {
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin: 0 1rem 1rem 1rem;
}

nav li {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: darkblue;
    font-family: var(--header-fonts);
    font-size: 1rem;
    text-decoration: none;
    padding: 1rem .5rem;
}

.active-link {
    text-decoration: underline;
    text-underline-offset: .25rem;
    transform: scale(1.1);
}

.nav a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

footer {
    margin-top: 5rem;
    border-top: 2px solid darkblue;
    padding-top: 1rem;
    position: relative;
    font-family: var(--header-fonts);
    font-size: 1rem;
    background-color: white;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

footer article img {
    padding: 0 0.2rem;
    height: 40px;
    width: 40px;
}

.icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer b {
    color: darkblue;
}

#lastModified {
    position: relative;
    margin-top: 1rem;
    font-size: 0.8rem;
}

.park::after {
    content: " 🛹 🚲 🛴";
}

@media (min-width: 600px) {

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }

    footer>div {
        width: auto;
        margin: .5rem;
    }

    footer>div,
    footer article {
        width: auto;
    }

    #lastModified {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0.5rem;
        text-align: right;
    }




}