:root,
body {
    --primary-color: #0096FF;
    --secondary-color: #89CFF0;
    --header-fonts: "Quicksand", sans-serif;
    --text-fonts: "Outfit", sans-serif;
    --box-shadow: rgba(25, 25, 112, 0.5) 4px 3px;
    margin: auto;
    padding: 0;
    overflow-x: hidden;
}

h2 {
    font-family: var(--header-fonts);
    font-size: 1.2rem;
    margin: 2rem .5rem 0 .5rem;
    border-bottom: 2px solid darkblue;
}


.hero {
    position: relative;
    overflow: hidden;
}

.hero img {
    display: block;
    width: 100vw;
    height: auto;
    border-top: 3px solid darkblue;
}

.current-events img {
    height: 200px;
    width: auto;
    margin: 1rem .5rem;
    border: 2px solid greenyellow;
}

.current-events img:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.highlights {
    display: flex;
    justify-content: space-around;
    /* overflow-x: scroll; */
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

/* .highlights>* {
    scroll-snap-align: start;
} */

.highlights section {
    line-height: .2rem;
    border: 2px solid var(--primary-color);
    margin: 1rem .5rem 1rem .5rem;
    padding: .5rem;
}

.highlights img {
    height: 300px;
    width: auto;
    border: 2px solid darkblue;
}

.highlights img:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
    transition: transform 0.3s ease, filter 0.3s ease;
}