:root,
body {
    --primary-color: #0096FF;
    --secondary-color: #89CFF0;
    --header-fonts: "Quicksand", sans-serif;
    --text-fonts: "Outfit", sans-serif;
    --box-shadow: rgba(25, 25, 112, 0.5) 4px 3px;
    margin: auto;
    padding: 0;
    overflow-x: hidden;
    max-width: 1200px;
}

@keyframes zoomIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomLeft {}

main {
    min-height: 2000px;
}

.afterhero section {
    margin-bottom: 3rem;
}

h2 {
    font-family: var(--header-fonts);
    font-size: 1.2rem;
    margin-left: 1rem;
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.details {
    margin: 1rem;
    padding: 1rem;
    font-family: var(--text-fonts);
    font-size: .9rem;
    border: 2px double darkblue;
}

.map {
    border: 2px solid red;
    margin: 2rem 1rem;
    padding: 1rem;
    border-radius: 5px;
}

.responsive-iframe {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 ratio = 9/16 = 0.5625 = 56.25% */
    overflow: hidden;
    margin-bottom: 1rem;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    height: 55%;
    width: 70%;
    line-height: 1rem;
    align-content: center;
}

h1 {
    font-family: var(--header-fonts);
    font-size: 1.2rem;
    margin: .5rem;
    /* border-bottom: 2px double darkblue; */
    text-decoration: underline double darkblue;
    text-underline-offset: .2rem;
    animation: zoomIn 0.8s ease-out forwards;
}

.hero-text p {
    font-size: .9rem;
    font-family: var(--text-fonts);
}

.current-events {
    display: flex;
}

figcaption {
    border-radius: 5px;
    text-align: center;
    font-family: var(--text-fonts);
    font-size: .8rem;
}

.current-events img {
    height: auto;
    width: 160px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: .2rem;
}

.current-events img:hover,
.highlights img:hover {
    transform: scale(1.05);
    filter: brightness(1.05);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.highlights {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    gap: .5rem 1rem;
    justify-content: center;
}

.highlights img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid darkblue;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    margin: 0;
}

@media (min-width: 400px) {
    .highlights {
        grid-template-columns: repeat(2, 150px);
    }

    .highlights img {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 500px) {
    .highlights {
        grid-template-columns: repeat(2, 200px);
    }

    .highlights img {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 600px) {
    .hero-text {
        line-height: 1.8rem;
    }

    .hero-text h1 {
        font-family: var(--header-fonts);
        font-size: 1.4rem;
        margin: 2rem .5rem 0 .5rem;
        border-bottom: 2px double darkblue;
        animation: zoomIn 0.8s ease-out forwards;
    }

    .hero-text p {
        font-size: 1.1rem;
    }

    .highlights {
        grid-template-columns: repeat(2, 260px);
    }

    .highlights img {
        width: 260px;
        height: 260px;
    }
}

@media (min-width: 700px) {
    .hero-text {
        line-height: 1.8rem;
        width: 500px;
        height: 300px;
    }

    .hero-text h1 {
        font-family: var(--header-fonts);
        font-size: 1.5rem;
        margin: 2rem .5rem 0 .5rem;
        border-bottom: 2px double darkblue;
        animation: zoomIn 0.8s ease-out forwards;
    }

    .hero-text p {
        font-size: 1.2rem;
    }
}

@media (min-width: 1000px) {
    .hero-text {
        line-height: 2rem;
    }

    .hero-text h1 {
        font-family: var(--header-fonts);
        font-size: 1.5rem;
        margin: 2rem .5rem 0 .5rem;
        border-bottom: 2px double darkblue;
        animation: zoomIn 0.8s ease-out forwards;
    }

    .hero-text p {
        font-size: 1.2rem;
    }
}

.hero,
.details,
.map,
.current-events,
.highlights {
    margin-bottom: 5rem;
}