:root,
body {
    --primary-color: rgb(172, 131, 255);
    --secondary-color: rgb(78, 45, 136);
    --header-fonts: "Prompt", sans-serif;
    --text-fonts: "Roboto", sans-serif;
    --box-shadow: rgba(78, 45, 136, 0.5) 4px 3px;
    margin: auto;
    padding: 0;
    overflow-x: hidden;
}


header {
    display: flex;
    align-items: center;
}

.heading {
    display: flex;
    align-items: center;
}

.heading img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.heading span {
    font-family: var(--header-fonts);
}

button {
    padding: 2rem;
}

nav {
    display: none;
}